.contGeneral {
  margin-top: 12rem;
  color: #363636;
  margin-bottom: 10rem;
}

.edText {
  font-size: 30px;
  font-weight: 600;
  padding-block: 3rem;
}

form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  font-size: 16px;
  background-color: #fff;
  padding: 2rem;
  border-radius: 20px;
}

input {
  width: 100%;
  height: 35px;
  padding: 7px;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(220, 220, 220);
}

textarea {
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  max-height: 100px;
  min-height: 100px;
  padding: 7px;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(220, 220, 220);
}
label {
  margin-top: 1rem;
}
input[type="submit"] {
  margin-top: 2rem;
  cursor: pointer;
  color: white;
  border: none;
  background: #caa3e1;
}
