.contGeneral {
  margin-top: 12rem;
  color: #363636;
  margin-bottom: 10rem;
}

.contInfo {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  color: #363636;
  height: 100%;
  padding-block: 12rem;
}

.hola {
  font-size: clamp(1.8rem, 2.8vw, 2.8rem);
  font-weight: 700;
  display: flex;
  align-items: center;
}

.name {
  font-size: clamp(1.25rem, 2.2vw, 3rem);
  font-size: 40px;
  font-weight: 600;
  line-height: normal;
}

.dev {
  background-color: #f6cbce;
  border-radius: 20px;
  font-size: 22px;
  font-weight: 600;
  color: #f7f7ff;
}

.description {
  width: 30rem;
  font-weight: 500;
}

.gif {
  height: 3rem;
}
