.contGeneral {
  padding-left: 25%;
  overflow: auto;
  height: 95vh;
  scroll-behavior: smooth;
}

.contGeneral::-webkit-scrollbar {
  border-radius: 1px;
  background-color: #f6cbce;
  width: 10px;
  border-radius: 10px;
}

.contGeneral::-webkit-scrollbar-thumb {
  background-color: #f3b5ba;
  border-radius: 10px;
}

.contenedor {
  padding-inline: 8rem;
}

@media (max-width: 425px) {
  .contGeneral {
    position: relative;
    padding: 0;
  }

  .contenedor {
    padding: 0;
  }

  .contGeneral::-webkit-scrollbar {
    width: 0px;
  }

  .contGeneral::-webkit-scrollbar-thumb {
    width: 0;
  }
}
